<div class = "dashboard-full">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="false">Overview</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="mentorships-tab" data-toggle="tab" href="#mentorships" role="tab" aria-controls="mentorships" aria-selected="false">Mentorships</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="created-applications-tab" data-toggle="tab" href="#created-applications" role="tab" aria-controls="created-applications" aria-selected="false">Created Applications</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="received-applications-tab" data-toggle="tab" href="#received-applications" role="tab" aria-controls="received-applications" aria-selected="false">Received Applications</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">

      <br><br>
      <h2>Welcome back, <%= current_user.first_name %> </h2>
      <p>Here's what's happening</p>
      <br>
      <div class = "dash-cards">
        <div class = "dash-group top-group">
          <div class = "dash-card top-card">
            <h5>Past 7 Days</h5>
            <div class = "bullets">
              <%# <p>X New Mentors</p> %>
              <p><strong><%= @week_mentor%></strong> New Mentors</p>
              <p><strong><%= @week_app%></strong> New Applications</p>
              <p><strong><%= @week_mentorships %></strong> New Mentorships</p>
            </div>
          </div>
        </div>
        <div class = "dash-group">
          <div class = "dash-card">
            <h5>Applications Recieved</h5>
            <p><strong><%= @received_applications.count %></strong> Total</p>
            <p><strong><%= @pending %></strong> Pending</p>
          </div>
          <div class = "dash-card">
            <h5>Your Mentorships</h5>
            <p><strong><%= @active %></strong> Active</p>
            <p><strong><%= @inactive %></strong> Inactive</p>
          </div>
          <div class = "dash-card">
            <h5>Your Mentors</h5>
            <p><strong><%= @mentor_count %></strong> Mentors</p>
            <p><strong><%= @subject_count %></strong> Subjects</p>
          </div>
        </div>
      </div>
    </div>


    <div class="tab-pane fade" id="mentorships" role="tabpanel" aria-labelledby="mentorships-tab">
      Manage your mentorships
      <br>
      <br>
      <table class = "full-option-list">
        <% @mentorships.each do |mentorship| %>
          <tr class = "full-option-list-item">
            <td class = 'grey'> <%= mentorship.subject %> </td>
            <td class = 'grey'> <%= link_to 'view', mentorship_path(mentorship) %> </td>
            <td class = 'grey'> <%= link_to 'edit', edit_mentorship_path(mentorship) %> </td>
            <td class = 'grey'> <%= link_to 'delete', mentorship_path(mentorship), method: :delete, data: { confirm: "Are you sure?" } %></td>
          </tr>
        <% end %>
      </table>
      <br><br><br>
      <%= link_to "Create New Mentorship", new_mentorship_path, class: "btn btn-primary" %>
    </div>
    <!---<td id = "links"><p>edit</p><%# link_to edit_mentorship_path(mentorship) %> </td> --->

    <div class="tab-pane fade" id="created-applications" role="tabpanel" aria-labelledby="created-applications-tab">
      <br>
      <table class = "headings"><tr>
        <td>Subject</td>
        <td>Mentor</td>
        <td>Status</td>
        <td>Application</td>
      </tr></table>
      <br>
      <table class = "full-option-list">
        <% @created_applications.each do |application| %>
        <tr class = "full-option-list-item">
          <td><%= application.mentorship.subject %></td>
          <td><%= application.mentor.first_name %> <%= application.mentor.last_name %></td>
          <td><%= application.status %></td>
          <td class = "grey"><%= link_to "View", mentorship_application_path(application) %> </td>
        </tr>
        <% end %>
      </table>
      <br><br><br>
      <%= link_to "Browse Mentorships", mentorships_path, class: "btn btn-primary" %>
    </div>
    <div class="tab-pane fade" id="received-applications" role="tabpanel" aria-labelledby="received-applications-tab">
    <br>
      <table class = "headings"><tr>
        <td>Subject</td>
        <td>Mentee</td>
        <td>Status</td>
        <td>Application</td>
      </tr></table>
      <br>
      <table class = "full-option-list">
        <% @received_applications.each do |application| %>
          <tr class = "full-option-list">
            <td><%= application.mentorship.subject %> </td>
            <td><%= application.user.first_name %> <%= application.user.last_name %></td>
            <td><%= application.status %></td>
            <td class = "grey"><%= link_to "View", mentorship_application_path(application) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
