<div class="banner">
  <div class="home-container ">
    <h1>Find your direction</h1>
      <br>
        <p>Begin your journey today!</p>
      <br>
    <%= link_to "Start now", mentorships_path, class: "btn btn-ghost" %>
  </div>
</div>
<div class="d-flex align-items-center flex-column p-3">
  <div class="bg-primary"></div>
  <h4 class="mb-3">Mentors for all</h4>
  <div class="d-flex align-items-center justify-space-even justify-content-center">
      <div class="p-2">
          <%= image_tag '1.jpg', style: "height: 100px; width: 100px;" %>
          <%= image_tag '2.jpg', style: "height: 100px; width: 100px;" %>
          <%= image_tag '3.jpg', style: "height: 100px; width: 100px;" %>
          <%= image_tag '4.jpg', style: "height: 100px; width: 100px;" %>
          <%= image_tag '5.jpg', style: "height: 100px; width: 100px;" %>
          <%= image_tag '6.jpg', style: "height: 100px; width: 100px;" %>
      </div>
  </div>
</div>
