<%# im the view

controller gives me the bunch of mentorships so i can show them the user

in here, I can see and make use of the instance variable @mentorships

im going to loop through the variable @mentorships and list them %>

<h1>Browse mentorships</h1>

<ul>
  <% @mentorships.each do |mentorship| %>
    <li>
      Subject: <%= mentorship.subject %><br>
      Mentor: <%= mentorship.user.first_name %> <%= mentorship.user.last_name %><br>
      <%= link_to "View", mentorship_path(mentorship) %>
    </li>
  <% end %>
</ul>
<% if current_user %>
  <%= link_to "Dashboard", dashboard_path %>
<% end %>
