<div class="container cont-show">
  <div class="show-container">
  <h1>Mentorship details</h1>
  <br>
  <h4>Subject: <%= @mentorship.subject %></h4>
  <br>
  <h4>Description: <%= @mentorship.description %></h4>
  <br>
  <h4>Address: <%= @mentorship.address %></h4>
  <br>
  <% if @mentorship.photo.attached? %>
  <%= cl_image_tag(@mentorship.photo.key,
        width: 400, height: 300, crop: :fill) %>
  <% end %>
  <br>
  <% if current_user != @mentorship.user %>
    <%= link_to "Apply", new_mentorship_mentorship_application_path(@mentorship), class:"btn btn-primary mt-4" %>
    <br>
  <% end %>
  </div>
</div>
